
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');


*{
    margin: 0;
    padding: 0;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

main{
    margin: 40px;
    text-align: justify;
    
}

section{
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
    line-height: 25px;
    margin: 50px;
    padding: 30px;
    width: 600px;
}

.c1{
    height: 780px;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-top: 40px;
}

h3{
    text-align: center;
    margin: 30px;
}

p{
    text-indent: 40px;
}

@media (max-width: 600px){
    section{
        border-radius: 5px;
        line-height: 25px;
        width: 300px;
    }
}